name: EKS-ArgoCD-Grafana-Dashboards

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
            terraform_version: 1.5.6

      - name: Initialize Terraform
        run: terraform init

    #   - name: Validate Terraform
    #     run: terraform validate

    #   - name: Plan Terraform
    #     run: terraform plan -out=tfplan

      - name: Apply Terraform
        run: terraform apply -auto-approve

      - name: Destroy Terraform
        run: terraform destroy -auto-approve
    
    #   - name: Save Kubeconfig for Local Use
    #     run: |
    #       echo "Kubeconfig generated successfully. Download it from the Terraform output or check the file 'kubeconfig_eks' in your repository folder."
